/projects/vs/adfinder/bin
/projects/vs/adfinder/obj
/projects/vs/fiweb/bin
/projects/vs/fiweb/obj
/projects/vs/workspace.suo
/projects/vs/fiweb/fiweb.csproj.user
/projects/vs/fiweb/js/trash
/projects/vs/fiweb/tester/output
/adfinder/bin
/adfinder/obj
/fiweb/bin
/fiweb/obj
/fiweb/fiweb.csproj.user
/workspace.suo
/adfinder/adfinder.csproj.user
/testing/bin
/testing/obj
/portforward/.build
/portforward/portforward.jar
/portforward/portforward.log
/portforward/*.log
