<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="document"  type="webapp.DocumentHttpHandler"/>
      <add verb="*" path="mail"  type="webapp.MailHttpHandler"/>
      <add verb="*" path="pages/*"  type="webapp.PagesHttpHandler"/>      
    </httpHandlers>
  </system.web>
    
  <appSettings>

    <!-- 
        ////////////////////////////////////////////////////////////////////
        //        
        // General Application Settings 
        //
        //
        ////////////////////////////////////////////////////////////////////
        -->    
    <!-- Directory where all pdf files are stored (MANDATORY) -->
    <add key="documentRoot" value="C:\bigtest\pdf"/>
    
    <!-- The directory where to store png generated cache files (MANDATORY) -->
    <add key="outputPath" value="C:\bigtest\fout"/>
    
    <!-- Log file for debug purposes
         WARNING: Comment logFile setting in production environment
         Use it only for debug purposes. Logger still experimental. (OPTIONAL) -->
    <add key="logFile" value="C:\bigtest\logs\webapp.log"/>
    
    <!-- Preferred system language of requested pdf, 
         when not explicitly specified by the client request (OPTIONAL) 
         if uncommented specify one of the following values:
         it, de, es, fr, en, auto 
         auto means detected from browser settings
         -->    
    <add key="defaultLanguage" value="auto"/>    
        
    <!-- 
        ////////////////////////////////////////////////////////////////////
        //        
        // Email configuration 
        // Comment this section to disable mail service
        //
        ////////////////////////////////////////////////////////////////////        
        -->    
    <!-- smtp settings -->
    <add key="mailFrom" value="noreply@farmadati.it"/>
    <add key="mailSubject" value="Foglietto Illustrativo"/>
    <add key="mailSmtpServer" value="smtp.gmail.com"/>    
    <add key="mailSmtpUser" value="nfserv@gmail.com"/>
    <add key="mailSmtpPassword" value="Aigor1705"/>
    <add key="mailSmtpPort" value="587"/>
    <add key="mailSmtpRequireSSL" value="true"/>
    <add key="mailSmtpTimeout" value="10000"/>
    <!-- html body of the -->
    <add key="mailBody" value=".\mailbody.html"/>
    <!-- override default base url, use this as workaround for wrong base url resolution -->
    <!--
    <add key="mailBodyBookmarkUrl" value="http://www.farmadati.it/bugiardino/search.html"/>
    -->
    <add key="mailBodyBookmarkUrl" value="http://www.farmadati.it/bugiardino/viewer.html"/>

    <!-- 
        ////////////////////////////////////////////////////////////////////
        //        
        // JQuery and CSS Scripts settings
        //
        //
        ////////////////////////////////////////////////////////////////////        
        -->
    <!--
    <add key="scriptsPath" value="http://foglietto-farma01.rhcloud.com"/>    
    -->

  </appSettings>

</configuration>
