<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>

    <!--
    <add name="farmadati"
        connectionString="server=TWILIGHT17\SQLEXPRESS; database=DBFarmadati_WEB; Integrated Security=true;" />
        -->
    <add name="farmadati"
        connectionString="server = (local); database = DBFarmadati_WEB; Integrated Security = true;" />
    <!--
    <add name="farmadati"
         connectionString="server=WINDOWS2012R2; database=DBFarmadati_WEB; user id=UserSetDati2; password=Customers1987;" />
         -->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" path="archive" type="webapp.ArchiveHttpHandler"/>      
	    <add verb="*" path="autocom" type="webapp.AutocompleteHttpHandler"/>      
      <add verb="*" path="mail" type="webapp.MailHttpHandler"/>
      <add verb="*" path="pages/*" type="webapp.PagesHttpHandler"/>      
    </httpHandlers>
  </system.web>

  <appSettings>

    <!-- 
        ////////////////////////////////////////////////////////////////////
        //        
        // General Application Settings 
        //        
        ////////////////////////////////////////////////////////////////////
        -->
    <!-- Directory where all pdf files are stored (MANDATORY) -->
    <add key="documentRoot" value="C:\bigtest\pdf"/>

    <!-- The directory where to store png generated cache files (MANDATORY) -->
    <add key="outputPath" value="C:\bigtest\fout"/>

    <!-- The Executable path of Ghostscript only if out of system path (OPTIONAL) -->
    <!--
    <add key="gsPath" value="C:\bin\gs9.10\gswin64c.exe"/>
    -->

    <!-- Log file for debug purposes
         WARNING: Comment logFile setting in production environment
         Use it only for debug purposes. Logger still experimental. (OPTIONAL) -->
    <add key="logFile" value="C:\bigtest\logs\webapp.log"/>
    
    <!-- 
        ////////////////////////////////////////////////////////////////////
        //        
        // Email configuration - Comment mailSmtpServer to disable mail 
        //
        ////////////////////////////////////////////////////////////////////        
        -->
    <!-- smtp settings -->
    <add key="mailFrom" value="noreply@farmastampati.it"/>
    <add key="mailSubject" value="Foglietto Illustrativo"/>
    <add key="mailSmtpServer" value="smtp.gmail.com"/>
    <add key="mailSmtpUser" value="nfserv@gmail.com"/>
    <add key="mailSmtpPassword" value="Aigor1705"/>
    <add key="mailSmtpPort" value="587"/>
    <add key="mailSmtpRequireSSL" value="true"/>
    <add key="mailSmtpTimeout" value="15000"/>    
    <add key="mailBody" value=".\mailbody.html"/>

  </appSettings>

</configuration>
